body{
  background-color: pink;
  padding: 20px;
}

#content{
  background-color: white;
  padding: 20px;
  height: 90vh;
  text-align: center;
  font-family: cursive;
}

.sectionbox {
  padding: 10px;
}

.special {
  background-color: lightgrey;
  border: solid 1px black;
}
